<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <% if(typeof user !== 'undefined'){ %>
      <button> Log In!
      </button>
  <% } else { %>

<%- include("partials/navbar.ejs") %>

 <% } %>

<p> Here is the hike trail: <%- 'views/trail' %></p>

<% let items = ['backpack', 'flashlight', 'canteen', 'tent', 'compass'] %>

<% for(let i = 0; i < items.length; i++) { %>

  <p>You will need: <%= items[i] %></p>

<% } %>

<%- include("partials/footer.ejs") %>
</body>
</html>
